<div class="menu-wrap"> 

  <div class="menu-items">
    <div class="menu-items-header">
     <img src="../img/pages/photo.jpg">
    </div>
    
    <div class="menu-weibo-wrap">
        <img class="menu-weibo" src="../img/weibo.png">
        <span class="menu-weibo-title">微博账号：</span>
        <span class="menu-weibo-content">fnncat</span>
  </div>
  <div class="menu-item fir">
    <a href="/posts"><i class="iconfont">&#xe602;</i>
    <span>开始</span>
    </a>
  </div> 
  <div class="menu-item sec">
    <a href="/pigeonhole">
    <i class="iconfont">&#xe602;</i>
    <span>旧时光 归档</span>
    </a>
 </div>
   <div class="menu-item thr">
     <a href="/friendlink">
    <i class="iconfont">&#xe602;</i>
    <span>友链</span>
    </a>
  </div>
   <div class="menu-item for">
     <a href="/posts">
    <i class="iconfont">&#xe602;</i>
    <span>关于</span>
     </a>
   </div>
  </div>
</div>
<div id="index"  class="menu-cover-wrap">
  <pre class="text">
    /*
      按空格胖猫儿开始可以踩小老鼠哟
      想法来自互联网，参考flapybird
    */</pre>
</div>
<script type="text/javascript" src="../js/squishybird.js"></script>
