<form class="search-form" method="get" action="/posts/search">
     <input id="searchParam" name="searchParam" type="text" placeholder="模糊搜索标题" class="searchW"  >
     <input class="searchB" type="submit" value="..  ..">
     <div class="search_cat">
       <div class="mao_box">
  <div class="mao">
    <div class="erduo">
      <div></div>
      <div></div>
    </div>
    <div class="yanjing">
      <div>
        <div class="yanquan">
          <div></div>
        </div>
        <div class="yanquan_hedding">

        </div>
        <div class="hong"></div>
      </div>
      <div class="yan_right">
        <div class="yanquan">
          <div></div>
        </div>
        <div class="yanquan_hedding">

        </div>
        <div class="hong"></div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="bizi">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="zuiba_box">
      <div class="zuiba">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
     </div>
     </form>