<%- include('header') %>

<div class="edit-grid">
  <div class="wide">
      <img class="avatar" src="/img/<%= user.avatar %>">
  </div>

  <div class="eight wide column">
    <form class="ui form segment" method="post" action="/posts">
      <div class="edit-intr-wrap">
        <p>
          <label>标题</label>
          <input type="text" name="title" >
        </p>
        <p>
          <label>图标</label>
          <input type="text" name="icon">
        </p>
        <p>
          <label>标签</label>
          <input type="text" name="label">
        </p>
        <p>
          <label>图片</label>
          <input type="text" name="param_type">
        </p>
      </div>
      <div class="edit-text-wrap">
        <label>摘要</label>
        <textarea name="contentintro" rows="15"></textarea>
      </div>
      <div class="edit-text-wrap">
        <label>内容</label>
        <textarea name="content" rows="15"></textarea>
      </div>
      <div class="btn_wrap">
      <input type="submit" class="submit" value="发布">
      </div>
    </form>
  </div>
</div>

<%- include('footer') %>