<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fnncat --博客</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/lib/font-animate/font-animate.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
    <link href="/css/monokai_sublime.min.css" rel="stylesheet">  
    <script src="/lib/highlight/highlight.min.js"></script> 
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/font-animate/font-animate.js"></script>
  </head>
  <body>
  <header>
    <nav class="nav">
    <a class="nav-item" href="/posts">Fannct</a>
    <a class="nav-item" href="">Blala</a>
    <a class="nav-item" href="">Ahah</a>
    <a class="nav-item" href="">About</a>
    </nav>
  </header>
  <script >hljs.initHighlightingOnLoad();</script>
