<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fnncat --博客</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/lib/font-animate/font-animate.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">  
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/lib/font-animate/font-animate.js"></script>
  </head>
  <body>
  <header>
    <nav class="nav">
    <a class="nav-item" href="">博客</a>
    <a class="nav-item" href="">吧啦</a>
    <a class="nav-item" href="">啊哈</a>
    <a class="nav-item" href="">关于</a>
    </nav>
  </header>
