
<%- include('header') %>
<div class="all-content">
  <div class="layout-frame">
	 <div class="center-content">
       <h4 class="autotype header_font">HELLO, I'm Fnncat</h4>
     </div>
     <% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>   
  </div>
</div>
<video class="video" autoplay="autoplay" loop="loop" width="100%" >
  <source src="/video/sky.mp4" type="video/mp4" />
Your browser does not support the video tag.
</video>
<div class="loadding-container">
  <p>
     我是个loading
  </p>
  <p>
    我在的等我的素材加载出来, 给我三秒，如果不行你就刷新吧
  </p>
</div>
<script>
  $(document).ready(function(){
setTimeout(function(){
  $(".loadding-container").hide();
  $(".autotype").animatext({
    speed: 150, 
    effect: 'flipInY',
    reverse: false

  });
    //布局动画
setTimeout(function(){
  $(".all-content").css("position","inherit");
  $(".video").css("height","300px");
  $(".layout-frame").css("background","linear-gradient(#010001, rgb(124, 128, 130))")
  $(".layout-frame").animate( { width: "80%", height: "1600px",marginTop:"120px",paddingTop:"30px",paddingBottom: "500px",opacity:".8"},"slow");
  $("html").animate({height:"2000px"},"slow");
  $(".center-content").animate({marginTop:"50px",marginLeft:"60px"},{ duration: 2000, easing: "linear" });
  $(".header_font").css("text-align","left");

  $(".post-content").fadeIn();

   },3500);
},3000)
      //首页字体动画

  })



</script>



<%- include('footer') %>