@charset "UTF-8";
@font-face{
	font-family: web-font;
	src:url('./font/Windsor Regular.fcd3c02.woff');
}
@font-face {
  font-family: 'iconfont';  /* project id 456840 */
  src: url('//at.alicdn.com/t/font_456840_swez4k6zt2h2gldi.eot');
  src: url('//at.alicdn.com/t/font_456840_swez4k6zt2h2gldi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_456840_swez4k6zt2h2gldi.woff') format('woff'),
  url('//at.alicdn.com/t/font_456840_swez4k6zt2h2gldi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_456840_swez4k6zt2h2gldi.svg#iconfont') format('svg');
}
@import url('//at.alicdn.com/t/font_456840_swez4k6zt2h2gldi.css');
.iconfont{
	font-family:"iconfont";
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale; 
        padding-left:20px
}
html,body{height: 100%;width: 100%;font-family: web-font;}
html{background: url("../img/background.jpeg") no-repeat fixed top;background-size:cover;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font:vertical-align: baseline; }


/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {font:12px/1.5  "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;}
input,select,textarea {font-size:100%;}
/*去除输入框的叉号*/
input::-ms-clear{
	display: none;
}

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

body { font-size: 14px;  color: #374050; }

a { text-decoration: none; color: #374050; }

iframe { display:block; border: none; }

input { outline: 0; }

ul li { list-style:none; }

a,input, select, button, textarea { outline: none;  color: #333; }
ont-family: Rubik, sans-serif;
p {
    text-overflow: ellipsis;
    overflow: hidden;
}
.jf-form-item:after, .jf-search-btns:after, .request-accept:after, .request-type dl:after, .request-type-selected:after, .side_to_side:after, .jf-tabs:after, .jf-tabs .jf-tabs-item:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


.hide { display: none; visibility: hidden; }

.show { display: block; visibility: visible; }

/* 清理浮动 */
.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {display:none;}
/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}

/* 单行文字溢出时出现省略号，需设定宽度 */ 
.fn-text-overflow {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/* 人民币符号 */
.fn-rmb {font-family: arial;font-style: normal;padding-right: 4px;}
/* 文字两端对齐 */
.fn-txt-justify{text-align:justify;}
.fn-txt-center{text-align: center;}
.fn-txt-right{text-align: right;}

/* position */
.fn-pr { position:relative; }
.fn-pa { position:absolute; }
.fn-pf { position:fixed; }

/* font */
.fn-bold { font-weight:700; }
.ft-12 { font-size:12px; }
.ft-14 { font-size:14px; }
.ft-16 { font-size:16px; }
.ft-18 { font-size:18px; }
.ft-24 { font-size:24px; }
.ft-12b { font-size:12px; font-weight:bold; }
.ft-14b { font-size:14px; font-weight:bold; }
.ft-16b { font-size:16px; font-weight:bold; }
.ft-18b { font-size:18px; font-weight:bold; }
.ft-24b { font-size:24px; font-weight:bold; }

/* box */
.fn-inlinBlock { display:inline-block;*display:inline;zoom:1; }

.fn-pd5 { padding:5px; }
.fn-pd10 { padding:10px; }
.fn-mg5 { margin:5px; }
.fn-mg10 { margin:10px; }

/* margin */
.mt-5 { margin-top:5px; }
.mt-10 { margin-top:10px; }
.mt-15 { margin-top:15px; }
.mt-20 { margin-top:20px; }
.mt-30 { margin-top:30px; }
.mt-50 { margin-top:50px; }
.mt--30 { margin-top:-30px; }
.nec-mr30{margin-top: 30px !important}

.mr-5 { margin-right:5px; }
.mr-10 { margin-right:10px; }
.mr-15 { margin-right:15px; }
.mr-20 { margin-right:20px; }
.mr-30 { margin-right:30px; }
.mr-50 { margin-right:50px; }

.mb-0 { margin-bottom: 0px; }
.mb-5 { margin-bottom:5px; }
.mb-10 { margin-bottom:10px; }
.mb-15 { margin-bottom:15px; }
.mb-20 { margin-bottom:20px; }
.mb-30 { margin-bottom:30px; }
.mb-50 { margin-bottom:50px; }

.ml-5 { margin-left:5px; }
.ml-10 { margin-left:10px; }
.ml-15 { margin-left:15px; }
.ml-20 { margin-left:20px; }
.ml-30 { margin-left:30px; }
.ml-50 { margin-left:50px; }

/* padding */
.pt-5 { padding-top:5px; }
.pt-10 { padding-top:10px; }
.pt-15 { padding-top:15px; }
.pt-20 { padding-top:20px; }
.pt-30 { padding-top:30px; }
.pt-50 { padding-top:50px; }

.pr-5 { padding-right:5px; }
.pr-10 { padding-right:10px; }
.pr-15 { padding-right:15px; }
.pr-20 { padding-right:20px; }
.pr-30 { padding-right:30px; }
.pr-50 { padding-right:50px; }

.pb-5 { padding-bottom:5px; }
.pb-10 { padding-bottom:10px; }
.pb-15 { padding-bottom:15px; }
.pb-20 { padding-bottom:20px; }
.pb-30 { padding-bottom:30px; }
.pb-50 { padding-bottom:50px; }

.pl-5 { padding-left:5px; }
.pl-10 { padding-left:10px; }
.pl-15 { padding-left:15px; }
.pl-20 { padding-left:20px; }
.pl-30 { padding-left:30px; }
.pl-50 { padding-left:50px; }

/* width&height */
.w100 { width:100px; }
.w200 { width:200px; }
.w300 { width:300px; }
.w400 { width:400px; }
.w500 { width:500px; }
.w600 { width:600px; }
.w1200{width: 1200px;margin: 0 auto;overflow: hidden;}

.h30 { height:30px; }
.h35 { height:35px; }
.h40 { height:40px; }
.h80 { height:80px; }
.h120 { height:120px; }
/*手势*/
.cur-default{cursor: default;}
.cur-disabled{cursor:not-allowed !important;}

/*公共行高*/
.line-height-20{ line-height: 20px;}
.line-height-30{ line-height: 30px;}
/*公用布局样式*/
.layout-frame,.layout-framex { margin-bottom: 20px; background: transparent;height: 100%;margin: 0 auto ;z-index: 3;background: black}
.layout-frame { width: 100%; }
.center-content{width: 50%;margin: 0 auto; margin-bottom: 80px;}
.layout-framex { width: 49%; }
/*首页*/
header {
    z-index: 999;
    width: 100%;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
}

header nav{
    width: 1200px;
    margin: 0 auto;
    padding: 17px 0;
    position: relative;
    text-align: center;
}
header nav .nav-item{
    color: white;
    margin: 0 8px;
    padding: 11px;
    font-size: 15px;
}
.artmain{
    margin-top: 57px;
}

.l-content{
   float: left;
    width: 770px;
    margin-top: 8px;
}
.l-content > div{
    overflow: hidden;
    background: rgba(255,255,255,.8);
    padding-top: 21px;
    padding-bottom: 21px;
    border-radius: 10px;
    margin: 21px 0;
    margin-left: 7px;
    transition: all 0.28s;
}
.l-content .guide a {
    padding: 0 11px;
    color: rgb(55,55,55);
    font-size: 15px;
    font-weight: bold;
}
.l-content .post-content a>img{
    float: left;
    width: 23%;
    padding-left: 25px;
}
.r-content{
    width: 410px;
    margin-right: 5px;
    float: right;
    margin-top: 8px;
}

.post-content{
	overflow: hidden;
    background: rgba(255,255,255,.8);
    padding-top: 21px;
    padding-bottom: 21px;
    border-radius: 10px;
    margin: 21px 0;
    margin-left: 7px;
    transition: all 0.28s;
}
.post-content  .cont{
	float: right;
    width: 65%;
    margin-left: 6%;
}
.cont h2 {
    margin-bottom: 12px;
}
em.recommend {
    font-size: 14px;
    margin-right: 5px;
    color: rgb(180,0,0);
}
.cont h2 a {
    padding-bottom: 18px;
    padding-top: 18px;
    color: rgb(66,66,66);
    transition: all 0.1s;
}
.cont>div {
    height: 90px;
    margin-right: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cont>div >p {
    color: rgba(55,55,55,.8);
    font-size: 15px;

}
.post-content-footer{
    margin-top: 110px;
    padding-left: 270px;
    padding-right: 30px;
}

.post-tag{
	font-size: 12px;
    margin-right: 10px;
    padding: 0 5px;
    border: 1px solid #999;
    border-radius: 2px;
    color: #999;
}
.pagepagin-list{
    height: 60px;
    padding-left: 40%;
    padding-top: 20px;
}
.pagepagin-list div{
    margin-top: 20px;
}
.pagepagin-list span{
   padding: 4px;
   border-radius: 2px;
   border: 1px solid block;
}
.r-content{
    width: 410px;
    margin-right: 5px;
    float: right;
    margin-top: 8px;
}
.r-content > div{
    overflow: hidden;
    background: rgba(255,255,255,.8);
    padding-top: 21px;
    padding-bottom: 21px;
    border-radius: 10px;
    margin: 21px 0;
    margin-left: 7px;
    transition: all 0.28s;
}
.r-content .search{
    padding: 17px 0;
    margin-top: 40px;
}
.searchW {
    outline: none;
    border: 1px solid rgb(88,88,88) !important;
    border-radius: 19px;
    height: 23px !important;
    text-indent: 15px;
    margin-left: 56px;
    position: relative;
    z-index: 3;
    color: rgb(33,29,39);
    width: 172px !important;
    float: left;
}
.searchB {
    float: left;
    border-radius: 0 19px 19px 0;
    outline: none;
    border: 1px solid rgb(88,88,88);
    height: 30px;
    padding: 0 15px;
    margin-left: -18px;
    position: relative;
    text-indent: 12px;
    cursor: pointer;
    transition: all 0.15s;
}
.allTag h4, .rGuide h4 {
    text-align: center;
    margin-bottom: 8px;
}
.allTag div {
    padding: 0 15px;
}
.ovh {
    overflow: hidden;
}
.allTag div a {
    float: left;
    padding: 3px 8px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    color: white;
    border-radius: 8px;
    margin: 5px 8px;
}
a.cor0 {
    background: rgb(77,198,154);
}a.cor1 {
    background: rgb(103,64,165);
}a.cor2 {
    background: rgb(110,210,50);
}a.cor3 {
    background: rgb(197,23,137);
}a.cor4 {
    background: rgb(120,200,200);
}a.cor5 {
    background: rgb(77,158,254);
}a.cor6 {
    background: rgb(103,64,165);
}a.cor7 {
    background: rgb(173,64,65);
}a.cor8 {
    background: rgb(13,15,114);
}a.cor9 {
    background: rgb(180,10,50);
}a.cor10{
    background:rgb(10,220,80);
}
.else-content{
    height: 800px;
}
/* 详情页*/
.title {
    margin-bottom: 12px;
    text-align: center;
     font-size: x-large;
}
 .detial-content-wrap{
    padding:40px;
 }
 /*编辑页*/
 .edit-grid{
    margin-top: 70px;
    width: 80%;
    margin: 0 auto
 }
 img.avatar{
    height: 40px;
    width: 40px;
    border-radius: 40px;
 }

.edit-intr-wrap label{
   color: white;
} 
.edit-intr-wrap input{
    width: 60%;
    margin-left: 10%;
}
.edit-text-wrap label{
    color: white;
    float: left;

}
.edit-text-wrap {
    height: 400px;
 }
.edit-text-wrap textarea{
    width: 60%;
    float: left;
    margin-left: 10%;
}
.edit-grid .btn_wrap{
    width: 80%;
    margin: 0 auto;
    height: 100px;
}
.edit-grid .submit{
    width:80px;
    height: 28px;
    float: right;
    margin-right: 23%;
}